apiVersion: v1
kind: Config
clusters:
- name: garden
  cluster:
    server: {{ garden_api_server }}
    certificate-authority-data: {{ garden_ca_data }}
users:
- name: {{ user_name | default('garden-user') }}
  user:
    token: {{ garden_token }}
contexts:
- name: {{ context_name | default('garden-context') }}
  context:
    cluster: garden
    user: {{ user_name | default('garden-user') }}
    namespace: {{ garden_namespace }}
current-context: {{ context_name | default('garden-context') }}
